<!DOCTYPE html>
<html>
<head>
    <title>Currency Converter</title>
    
       <link rel="stylesheet" href="style.css">
    

    
</head>
<body>
    <h1>Currency Converter</h1>
    <input type="number" id="sum" placeholder="Amount" />
    <input type="text" id="baseCurrency" placeholder="Base Currency (e.g., USD)" />
    <button onclick="convertCurrency()">Convert</button>
    <div id="result"></div>

    <script>
        function convertCurrency() {
            const sum = document.getElementById('sum').value;
            const baseCurrency = document.getElementById('baseCurrency').value;

            fetch(`http://127.0.0.1:5000/currency/check?sum=${sum}&baseCurrency=${baseCurrency}`)
                .then(response => response.text())
                .then(html => {
                    document.getElementById('result').innerHTML = html;
                })
                .catch(error => console.error(error));
        }
    </script>
</body>
</html>
